
app.js
app.get('/', function(req, res){

  Course.find({ 'deliverymode': req.body.subjectarea}, 'title, subjectarea', function(err, course){
    if (err) console.log(err);
    allCourse = course;
    console.log('allCourse = ' + course)
    res.render('index.ejs', {
      course: allCourse
      })
    })
})

app.ejs
app.post('/', function(req, res){
  console.log('this is')
  console.log(req.body)
  Course.find({
    'deliverymode': req.body.subjectarea
  }, function(err, course) {
    if(err) return console.error(err)
    console.log(req.body)
    res.render('index.ejs', {
    searchresults: req.body})
  })
})

index.ejs
<% course.forEach(function(course, index){ %>
  <div class='course-container'>
    <p>
      Provider: <%=course.provider%><br>
      Course: <%=course.title%><br>
      Price: <%=course.price%><br>
      Subsidies: <%=course.subsidies%><br>
      Delivery Mode: <%=course.deliverymode%><br>
      Availability: <%=course.intakes%><br>
      Length: <%=course.length%><br>
      Experience Level: <%=course.experiencelevel%><br>
    </p>
  </div>

<% }) %>

 <%- JSON.stringify(searchresults) %>

//
 <%- JSON.stringify(course) %>

<h2>break</h2>


 <%- course[1].provider %>
 <% console.log(course) %>

 <h2>break again</h2>





   <tr>
     <td><%- course[1].provider %></td>
     <td><%- course[1].title %></td>
     <td><%- course[1].deliverymode %></td>
     <td><%- course[1].format %></td>
     <td><%- course[1].length %></td>
     <td><%- course[1].experiencelevel %></td>
     <td><%- course[1].price %></td>
     <td><%- course[1].subsidies %></td>
   </tr>
