<h2>Hello there.</h2>

<div class="row">

    <div class="col-sm-6">
        <div class="well">
            <h3>Profile Details</h3>

                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                </p>

        </div>
    </div>

</div>

<a href="/">< Search for more courses!</a>

<table class='table table-hover table-responsive table-bordered'>
    <td>Provider Name</td>
    <td>Course Title</td>
    <td>Subject Area</td>
    <td>Delivery Mode</td>
    <td>Format</td>
    <td>Length</td>
    <td>Experience Level</td>
    <td>Cost</td>
    <td>Subsidy Availability</td>
    <td>Subsidies</td>
    <td>Intakes</td>
    <td>Some Topics</td>
    <td></td>

    <% favourites.forEach(function(favourites, index){ %>
      <div class='favourites-container'>
        <p>
    <tr>
    <td><%=favourites.provider%></td>
    <td><%=favourites.title%></td>
    <td><%=favourites.subjectarea%></td>
    <td><%=favourites.deliverymode%></td>
    <td><%=favourites.format%></td>
    <td><%=favourites.length%></td>
    <td><%=favourites.experiencelevel%></td>
    <td><%=favourites.cost%></td>
    <td><%=favourites.subsidyavailability%></td>
    <td><%=favourites.subsidies%></td>
    <td><%=favourites.intakes%></td>
    <td><%=favourites.sometopics%></td>
    <td>

    <form id='show_delete' action =<%= '/favouritedelete/' + favourites._id + '/?_method=DELETE' %> method='post'>
          <input type="submit" value="Delete This Favourite" />
      </form>
    </td>
    </tr>

    </p>
    </div>

    <% }) %>

      </table>
