<h2>Hello there.</h2>

    <div class="col-sm-10">
        <div class="well">
            <h3>Profile Details</h3>

                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                </p>
    </div>

</div>

<a href="/">< Search for more courses!</a>

<table class='table table-hover table-responsive table-bordered'>
    <th>Provider Name</th>
    <th>Course Title</th>
    <th>Subject Area</th>
    <th>Delivery Mode</th>
    <th>Format</th>
    <th>Length</th>
    <th>Experience Level</th>
    <th>Cost</th>
    <th>Subsidy Availability</th>
    <th>Subsidies</th>
    <th>Intakes</th>
    <th>Some Topics</th>
    <th>Great For</th>
    <th>Be Aware</th>
    <th>Website</th>
    <td></td>

    <% favourites.forEach(function(favourites, index){ %>
      <div class='favourites-container'>
        <p>
    <tr>
    <td><%=favourites.provider%></td>
    <td><%=favourites.title%></td>
    <td><%=favourites.subjectarea%></td>
    <td><%=favourites.deliverymode%></td>
    <td><%=favourites.format%></td>
    <td><%=favourites.length%></td>
    <td><%=favourites.experiencelevel%></td>
    <td><%=favourites.price%></td>
    <td><%=favourites.subsidyavailability%></td>
    <td><%=favourites.subsidies%></td>
    <td><%=favourites.intakes%></td>
    <td><%=favourites.sometopics%></td>
    <td><%=favourites.great%></td>
    <td><%=favourites.aware%></td>
    <td><%=favourites.website%></td>
    <td>

    <form id='show_delete' action =<%= '/favouritedelete/' + favourites._id + '/?_method=DELETE' %> method='post'>
          <input type="submit" value="Delete This Favourite" />
      </form>
    </td>
    </tr>

    </p>
    </div>

    <% }) %>

      </table>
