<h2>Results Page</h2>

<table class='table table-hover table-responsive table-bordered'>
    <td>Provider Name</td>
    <td>Course Title</td>
    <td>Delivery Mode</td>
    <td>Format</td>
    <td>Length</td>
    <td>Experience Level</td>
    <td>Cost</td>
    <td>Subsidies</td>

    </table>

    <% course.forEach(function(course, index){ %>
      <div class='course-container'>
        <p>
          Provider: <%=course.provider%><br>
          Course: <%=course.title%><br>
          Price: <%=course.price%><br>
          Subsidies: <%=course.subsidies%><br>
          Delivery Mode: <%=course.deliverymode%><br>
          Availability: <%=course.intakes%><br>
          Length: <%=course.length%><br>
          Experience Level: <%=course.experiencelevel%><br>
        </p>
      </div>

    <% }) %>
