<h2>Search Results</h2>

<p>
  <a href="/loginhomepage">Log in as User</a>
</p>
<p>
  <a href="/admin/adauthhome">Log in as Admin</a>
</p>
<p>
  <a href="/favourite"><3 View your Favourite Courses</a>
</p>

<p>
  <a href="/">< Go Back to Search</a>
</p>


      <% course.forEach(function(course, index){ %>
    <table class='table table-responsive table-bordered'>
      <tr>
        <th rowspan="2"><h3><%=course.provider%></h3><br /><h4><%=course.title%></h4></th>
        <td>Price: <br />SGD<%=course.price%></td>
        <td>Subsidy Availability: <br /><%=course.subsidyavailability%></td>
        <td>Format: <br /><%=course.format%></td>
        <td rowspan="2">
        <p>
        <form id='show_individualresults' action =<%= '/results/' + course._id %> method='get'>
              <input type="submit" value="More Details" />
          </form>
        </p>

          <p>
          <form id='show_addfavourites' action =' /favourite/<%= course._id %>' method='post'>
                <button type="submit" name='favourite' value=<%- course.id %>>Favourite </button>
            </form>
          </p>

            </td>
      </tr>
      <tr>
        <td>Delivery Mode: <br /><%=course.deliverymode%></td>
          <td>Length: <br /><%=course.length%></td>
          <td>Experience Level: <br /><%=course.experiencelevel%></td>
      </tr>
  <tr>
    <td colspan="2">Great for: <br /><%=course.great%></td>
    <td colspan="3">Be aware: <br /><%=course.aware%></td>
  </tr>
  </table>

      <% }) %>
