<h2>Results Page</h2>

      <% course.forEach(function(course, index){ %>
    <table class='table table-responsive table-bordered'>
      <tr>
        <th rowspan="2"><h3><%=course.provider%></h3><br /><h4><%=course.title%></h4></th>
        <td>Price: <br />SGD<%=course.price%></td>
        <td>Subsidies: <br /><%=course.subsidies%></td>
        <td>Format: <br /><%=course.format%></td>
        <td rowspan="2"><form id='show_individualresults' action ='/results/:course_id' method='get'>
              <input type="submit" value="More Details" />
          </form>
Favourite</td>
      </tr>
      <tr>
        <td>Delivery Mode: <br /><%=course.deliverymode%></td>
          <td>Length: <br /><%=course.length%></td>
          <td>Experience Level: <br /><%=course.experiencelevel%></td>
      </tr>
  <tr>
    <td colspan="2">Great for:</td>
    <td colspan="3">Be aware:</td>
  </tr>
  </table>

      <% }) %>
