<h2>Update a Course</h2>

<%# start header navigation bar%>
<div class='page-wrapper'>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/viewall" title='Merlion Learns'>View All Courses</a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/addcourse">Add Course</a>
            </li>
            <li>
                <a href="/admin/adprofile">Profile</a>
            </li>
            <li>
                <a href="/admin/logout">Logout</a>
            </li>
        </ul>
    </div><!--/.nav-collapse -->

</div>
</div>
<%# End navigation bar%>

<%# Show course that has been selected by admin from view all page%>
<h3>This is the course you are updating:</h3>
<table class='table table-hover table-responsive table-bordered'>
    <td>Provider Name</td>
    <td>Course Title</td>
    <td>Subject Area</td>
    <td>Delivery Mode</td>
    <td>Format</td>
    <td>Length</td>
    <td>Experience Level</td>
    <td>Cost</td>
    <td>Subsidy Availability</td>
    <td>Subsidies</td>
    <td>Intakes</td>
    <td>Some Topics</td>
    <td>Great For</td>
    <td>Be Aware</td>
    <td>Website</td>


<div class='course-container'>
  <p>
<tr>
<td><%=course.provider%></td>
<td><%=course.title%></td>
<td><%=course.subjectarea%></td>
<td><%=course.deliverymode%></td>
<td><%=course.format%></td>
<td><%=course.length%></td>
<td><%=course.experiencelevel%></td>
<td><%=course.cost%></td>
<td><%=course.subsidyavailability%></td>
<td><%=course.subsidies%></td>
<td><%=course.intakes%></td>
<td><%=course.sometopics%></td>
<td><%=course.great%></td>
<td><%=course.aware%></td>
<td><%=course.website%></td>
</tr>

</p>
</div>
  </table>

<%# Update form starts%>
<%# Bootstrap table start%>
<h3>Update the fields you would like to change.</h3>
  <table class='table table-hover table-responsive table-bordered'>
    <form id='edit_course' action =<%= '/update/' + course_id + '/?_method=PUT' %> method='post'>
      <input type="hidden" name="_method" value="put"/>

      <tr>
          <td>Provider Name</td>
          <td><input type='text' name='provider' placeholder='Provider Name' class='form-control'></td>
      </tr>

      <tr>
          <td>Course Title</td>
          <td><input type='text' name='title' placeholder='Course Title' class='form-control'></td>
      </tr>

      <tr>
          <td>Subject Area</td>
          <td><select name='subjectarea' class='form-control'>
            <option value='Data Science'>Data Science</option>
            <option value='Digital Marketing'>Digital Marketing</option>
            <option value='Mobile App Development'>Mobile App Development</option>
            <option value='Web Development'>Web Development</option>
            <option value='UX and Design'>UX and Design</option>
        </select>
          </td>
      </tr>

      <tr>
          <td>Delivery Mode</td>
          <td><select name='deliverymode' class='form-control'>
            <option value='Offline'>Offline</option>
            <option value='Online'>Online</option>
        </select>
          </td>
      </tr>

      <tr>
          <td>Format</td>
          <td><select name='format' class='form-control'>
            <option value='Full-time'>Full-time</option>
            <option value='Part-time'>Part-time</option>
        </select>
          </td>
      </tr>

      <tr>
          <td>Length</td>
          <td><input type='text' name='length' placeholder='Length of Course in Weeks' class='form-control'></td>
      </tr>

      <tr>
          <td>Experience Level</td>
          <td><select name='experiencelevel' class='form-control'>
            <option value='Beginner'>Beginner</option>
            <option value='Intermediate (pre-requisites required)'>Intermediate (pre-requisites required)</option>
            <option value='Advanced (pre-requisites required)'>Advanced (pre-requisites required)</option>
        </select>
          </td>
      </tr>

      <tr>
          <td>Cost</td>
          <td><input type='text' name='price' placeholder='Cost of Course' class='form-control'></td>
      </tr>

      <tr>
          <td>Subsidy Availability</td>
          <td><select name='subsidyavailability' class='form-control'>
            <option value='Yes'>Yes</option>
            <option value='No'>No</option>
        </select>
          </td>
      </tr>

      <tr>
          <td>Subsidies</td>
          <td><input type='text' name='subsidies' placeholder='Subsidies' class='form-control'></td>
      </tr>

      <tr>
          <td>Intakes</td>
          <td><input type='text' name='intakes' placeholder='Intakes' class='form-control'></td>
      </tr>

      <tr>
          <td>Some Topics</td>
          <td><input type='text' name='sometopics' placeholder='Topics Covered' class='form-control'></td>
      </tr>

      <tr>
          <td>Great For</td>
          <td><input type='text' name='great' placeholder='Great For' class='form-control'></td>
      </tr>

      <tr>
          <td>Be Aware</td>
          <td><input type='text' name='aware' placeholder='Be Aware' class='form-control'></td>
      </tr>

      <tr>
          <td>Website</td>
          <td><input type='text' name='website' placeholder='Website' class='form-control'></td>
      </tr>

      <tr>
             <td></td>
             <td>
               <button type="submit" class="btn btn-primary">
                  <span class="glyphicon"></span>Edit Record
              </button>
             </td>
         </tr>
</form>
  </table>
<%# Bootstrap table end%>
