<h2>Update a Course</h2>

<p>
  <a href="/viewall">View All Courses/  </a>
  <a href="/addcourse">Add Course/  </a>
  <a href="/admin/adprofile">Profile/  </a>
  <a href="/admin/logout">Logout</a>
</p>

<%# Show course that has been selected by admin from view all page%>
<h3>This is the course you are updating:</h3>
<table class='table table-hover table-responsive table-bordered'>
    <td>Provider Name</td>
    <td>Course Title</td>
    <td>Subject Area</td>
    <td>Delivery Mode</td>
    <td>Format</td>
    <td>Length</td>
    <td>Experience Level</td>
    <td>Cost</td>
    <td>Subsidy Availability</td>
    <td>Subsidies</td>
    <td>Intakes</td>
    <td>Some Topics</td>
    <td>Great For</td>
    <td>Be Aware</td>
    <td>Website</td>


<div class='course-container'>
  <p>
<tr>
<td><%=course.provider%></td>
<td><%=course.title%></td>
<td><%=course.subjectarea%></td>
<td><%=course.deliverymode%></td>
<td><%=course.format%></td>
<td><%=course.length%></td>
<td><%=course.experiencelevel%></td>
<td><%=course.price%></td>
<td><%=course.subsidyavailability%></td>
<td><%=course.subsidies%></td>
<td><%=course.intakes%></td>
<td><%=course.sometopics%></td>
<td><%=course.great%></td>
<td><%=course.aware%></td>
<td><%=course.website%></td>
</tr>

</p>
</div>
  </table>

<%# Update form starts%>
<%# Bootstrap table start%>
<h3>Update the fields you would like to change.</h3>
  <table class='table table-hover table-responsive table-bordered'>
    <form id='edit_course' action =<%= '/update/' + course_id + '/?_method=PUT' %> method='post'>
      <input type="hidden" name="_method" value="put"/>

      <tr>
          <td>Provider Name</td>
          <td><input type='text' name='provider' value="<%=course.provider%>" class='form-control'></td>
      </tr>

      <tr>
          <td>Course Title</td>
          <td><input type='text' name='title' value="<%=course.title%>" class='form-control' required></td>
      </tr>

      <tr>
          <td>Subject Area</td>
          <td><select name='subjectarea' class='form-control'>
            <option value="<%=course.subjectarea%>" selected="selected"><%=course.subjectarea%></option>
            <option value='Data Science'>Data Science</option>
            <option value='Digital Marketing'>Digital Marketing</option>
            <option value='Mobile App Development'>Mobile App Development</option>
            <option value='Web Development'>Web Development</option>
            <option value='UX and Design'>UX and Design</option>
        </select>
          </td>
      </tr>

      <tr>
          <td>Delivery Mode</td>
          <td><select name='deliverymode' class='form-control'>
            <option value="<%=course.deliverymode%>" selected="selected"><%=course.deliverymode%></option>
            <option value='Offline'>Offline</option>
            <option value='Online'>Online</option>
        </select>
          </td>
      </tr>

      <tr>
          <td>Format</td>
          <td><select name='format' class='form-control'>
            <option value="<%=course.format%>" selected="selected"><%=course.format%></option>
            <option value='Full-time'>Full-time</option>
            <option value='Part-time'>Part-time</option>
        </select>
          </td>
      </tr>

      <tr>
          <td>Length</td>
          <td><input type='text' name='length' value="<%=course.length%>" class='form-control'></td>
      </tr>

      <tr>
          <td>Experience Level</td>
          <td><select name='experiencelevel' class='form-control'>
            <option value="<%=course.experiencelevel%>" selected="selected"><%=course.experiencelevel%></option>
            <option value='Beginner'>Beginner</option>
            <option value='Intermediate (pre-requisites required)'>Intermediate (pre-requisites required)</option>
            <option value='Advanced (pre-requisites required)'>Advanced (pre-requisites required)</option>
        </select>
          </td>
      </tr>

      <tr>
          <td>Cost</td>
          <td><input type='text' name='price' value="<%=course.price%>" class='form-control'></td>
      </tr>

      <tr>
          <td>Subsidy Availability</td>
          <td><select name='subsidyavailability' class='form-control'>
            <option value="<%=course.subsidyavailability%>" selected="selected"><%=course.subsidyavailability%></option>
            <option value='Yes'>Yes</option>
            <option value='No'>No</option>
        </select>
          </td>
      </tr>

      <tr>
          <td>Subsidies</td>
          <td><input type='text' name='subsidies' value="<%=course.subsidies%>" class='form-control'></td>
      </tr>

      <tr>
          <td>Intakes</td>
          <td><input type='text' name='intakes' value="<%=course.intakes%>" class='form-control'></td>
      </tr>

      <tr>
          <td>Some Topics</td>
          <td><input type='text' name='sometopics' value="<%=course.sometopics%>" class='form-control'></td>
      </tr>

      <tr>
          <td>Great For</td>
          <td><input type='text' name='great' value="<%=course.great%>" class='form-control'></td>
      </tr>

      <tr>
          <td>Be Aware</td>
          <td><input type='text' name='aware' value="<%=course.aware%>" class='form-control'></td>
      </tr>

      <tr>
          <td>Website</td>
          <td><input type='text' name='website' value="<%=course.website%>" class='form-control'></td>
      </tr>

      <tr>
             <td></td>
             <td>
               <button type="submit" class="btn btn-primary">
                  <span class="glyphicon"></span>Edit Record
              </button>
             </td>
         </tr>
</form>
  </table>
<%# Bootstrap table end%>
