<%# start header navigation bar%>
<div class='page-wrapper'>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/viewall" title='Merlion Learns'>View All Courses</a>
    </div>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/addcourse">Add Course</a>
            </li>
            <li>
                <a href="/admin/adprofile">Profile</a>
            </li>
            <li>
                <a href="/admin/logout">Logout</a>
            </li>
        </ul>
    </div><!--/.nav-collapse -->

</div>
</div>
<%# End navigation bar%>

<h3>View all Existing Courses Here</h3>
<table class='table table-hover table-responsive table-bordered'>
    <td>Provider Name</td>
    <td>Course Title</td>
    <td>Subject Area</td>
    <td>Delivery Mode</td>
    <td>Format</td>
    <td>Length</td>
    <td>Experience Level</td>
    <td>Cost</td>
    <td>Subsidy Availability</td>
    <td>Subsidies</td>
    <td>Intakes</td>
    <td>Some Topics</td>
    <td></td>

    <% course.forEach(function(course, index){ %>
      <div class='course-container'>
        <p>
    <tr>
    <td><%=course.provider%></td>
    <td><%=course.title%></td>
    <td><%=course.subjectarea%></td>
    <td><%=course.deliverymode%></td>
    <td><%=course.format%></td>
    <td><%=course.length%></td>
    <td><%=course.experiencelevel%></td>
    <td><%=course.cost%></td>
    <td><%=course.subsidyavailability%></td>
    <td><%=course.subsidies%></td>
    <td><%=course.intakes%></td>
    <td><%=course.sometopics%></td>
    <td><form id='show_edit' action =<%= '/update/' + course._id %> method='get'>
          <input type="submit" value="Edit This Record" />
      </form>
      <p></p>
      <form id='show_delete' action =<%= '/delete/' + course._id %> method='get'>
            <input type="submit" value="Delete This Record" />
        </form>
      </td>
    </tr>

    </p>
    </div>

    <% }) %>

      </table>
